.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

.item {
    height: 28rem;
    width: 18rem;
    border: 1px solid #ff3b3f;
    border-radius: 0.7rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #ff3b3f;
    background-color: #caebf2;
    text-decoration: none;
}

li a img {
    height: 18rem;
    width: 18rem;
    border-bottom: 1px solid #ff3b3f;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #ff3b3f;
}

li a:hover {
    opacity: 0.85;
    cursor: pointer;
}

.content {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    font-size: 17px;
}

.name {
    color: black;
    font-weight: 500;
}

.star {
    margin-bottom: 0.2rem;
}

.product-item-action {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}