/* 
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

ul {
    margin: 0
}

button,
input[type=button] {
    cursor: pointer
}

button:focus,
input:focus {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 700;
    margin-left: 50px;
    line-height: 1.2
}

.tagline {
    margin-top: 10px;
}

header h1 {
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to right, #205b8d, #ff3b3f, #ffcacb);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 15px
}

h6 {
    font-size: 13px
}

.page-wrapper {
    overflow: hidden;
    padding-bottom: 8vh
}

.page-container {
    padding-left: 200px
}

aside.menu-sidebar.d-none.d-lg-block.clr {
    background: 0 0;
    z-index: 99999999;
    height: 75px;
    box-shadow: -2px 0 4px #0000003b
}

/* 
 * ----------------------------
 * Header Desktop Section
 * ----------------------------
 */

.header-desktop {
    background: #caebf2;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    right: 0;
    left: 220px;
    height: 82px;
    z-index: 3
}

.header-desktop .section-content {
    overflow: visible;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.header-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

/* Manage Product Button */
.button-58 {
    align-items: center;
    background-color: #06f;
    border: 2px solid #06f;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-58:focus {
    color: #171e29;
  }
  
  .button-58:hover {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
  }
  
  .button-58:active {
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
  }
  
  @media (min-width: 768px) {
    .button-58 {
      min-width: 170px;
    }
  }

/* 
 * ----------------------------
 * Left Menu Bar
 * ----------------------------
 */

.menu-sidebar {
    width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin-right: 2px;
    overflow-y: auto;
    background: #efefef;
}

.menu-sidebar .logo {
    background: white;
    height: 82px;
    width: 220px;
    padding: 0 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .3);
    position: relative;
    z-index: 3;
}

.menu-sidebar .logo a {
    text-decoration: none;
    color: #ff3b3f;
    font-size: 30px;
    font-weight: 800;
}

.menu-sidebar-content {
    position: relative;
    height: -webkit-calc(100vh - 75px);
    height: -moz-calc(100vh - 75px);
    height: calc(100vh - 75px)
}
/* 
 * ----------------------------
 * Media Queries
 * ----------------------------
 */
@media (max-width:1315px) and (min-width:992px) {
    .header-navbar ul li a {
        font-size: 13px;
        padding: 27px 15px
    }

    .header-navbar ul li a i {
        margin-right: 5px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1320px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .cart-area i {
        font-size: 22px;
        float: left;
        margin-top: 16px;
        color: #ff3b3f;
        margin-left: 15px
    }

    .header-mobile .header-mobile-bar {
        padding: 10px 0;
        background: #fff
    }

    .header-wrap .account-item>.content {
        display: none
    }
}


@media (max-width:991px) {
    .page-wrapper {
        background: #e5e5e5;
        padding-bottom: 12vh
    }

    .main-content {
        padding-top: 50px;
        padding-bottom: 100px
    }

    .cart-area.d-n {
        display: none
    }

    .header-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .header-button {
        margin-top: 30px;
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    header.header-desktop.extra {
        top: 93px !important
    }

    .cart-area i {
        font-size: 22px;
        float: left;
        margin-top: 16px;
        color: #ff3b3f;
        margin-left: 15px
    }

    .header-wrap2 {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}


@media (max-width:767px) {
    .header-button-item {
        font-size: 22px;
        margin-right: 15px
    }

    .header-mobile .navbar-mobile {
        display: none;
        position: absolute;
        width: 100%;
        top: 66px;
        z-index: 20
    }

    header.header-desktop.extra {
        top: 64px !important
    }

    .header-desktop {
        position: relative;
        top: 0;
        left: 0;
        height: 80px
    }

    a.logo {
        width: 220px;
    }

    .cart-area i {
        font-size: 22px;
        float: left;
        margin-top: 16px;
        color: #ff3b3f;
        margin-left: 15px
    }

    .page-container {
        position: relative;
        top: 66px;
        padding-left: 0
    }

    .cart-area.d-b {
        display: block
    }

    .cart-area.d-n {
        display: none
    }

    .cart-area i {
        font-size: 18px;
        float: left;
        margin-top: 16px;
        color: #03a9f4;
        margin-left: 15px
    }

    .total span {
        display: inline-block;
        background: #fff;
        padding: 0 10px;
        color: #000;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 6px
    }

    .total {
        background: #ff3b3f;
        line-height: 30px;
        color: #fff;
        border-radius: 30px;
        border: 1px solid #ff3b3f;
        float: left;
        margin-top: 9px;
        padding-left: 12px
    }

    .header-mobile .header-mobile-bar {
        padding: 6px 0;
        background: #fff;
        border: 0;
        padding: 8px 0
    }
}